$black-initial-letter: #090909;
$blue-background: #00BCD4;
$blue-border: #00A5BB;
$blue-font-description: #007685;
$blue-font-inactive: #6BD8E6;
$blue-font-name: #9BE4EE;
$gray-background: #CCCCCC;
$gray-font-description: #747474;
$gray-font-name: #4D4D4D;
$red-error: #c01111;
$white: #fff;
$yellow-border: #FFFF33;